# OSX
#
.DS_Store

# node.js
#
**/node_modules/
**/npm/
npm-debug.log

# F#
.fake/
packages/
build/
obj
bin
out

# git
*.orig

.vs

Directory.Build.props
temp
paket-files

.ionide/

.nacara/
doc_deploy/
fableBuild/
tests/parcel/dist/
.parcel-cache/
dist/
docs_deploy/
